<!doctype html>
<html lang="en" ng-app="MetApp">
<head>
	<meta charset="utf-8">
	<title>met</title>

	<link rel="stylesheet" href="/static/libs/reset-css/reset.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/static/libs/materialize/dist/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/commons.css">
	<link rel="stylesheet" href="/static/css/main.css">

	<script src="/static/libs/jquery/dist/jquery.min.js"></script>
	<script src="/static/libs/materialize/dist/js/materialize.min.js"></script>

	<script src="/static/lib/angular/angular.min.js"></script>
	<script src="/static/lib/angular/angular-resource.min.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>

</head>
<body>
	<div id="body-wrap">
		<div id="left-pane">
			<a href="/" id="logo">
				met<small>&reg;</small>
			</a>

			<ul id="main-nav">
				<li class="active">
					<a href="">
						Home
						<span class="badge">3</span>
					</a>
				</li>
				<li><a href="">To-do</a></li>
				<li><a href="">Meetings</a></li>
				<li><a href="">Settings</a></li>
			</ul>
					
		</div>
		<div id="main-pane">
			<div ng-view></div>		
		</div>
	</div>
</body>
</html>